//
// BASE
//
// Style a few of your defaults here.
// Break styles off into a new files if
// things start to get unwieldy.
//

body {
  background-color: $body-background-color;
}

//
// Default Links Styles
//

a {
  color: $link-default;
  text-decoration: none;
  &:hover { color: $link-default-h; }
}

//
// Reset Lists
//

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

dl, dt, dd {
  margin: 0;
  padding: 0;
}

// Reset Quotes

blockquote {
  margin: 0;
  padding: 0;
}

//
// Reset Buttons to appear as links
//

button {
  overflow: visible;
  width:auto;
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: 0 none;
  background: transparent;
  -webkit-appearance: none;

  &::-moz-focus-inner {
    border: 0;
    padding: 0
  }
  cursor: pointer;
}

/**
 * 1. Fluid images for responsive purposes.
 * 2. Offset `alt` text from surrounding copy.
 * 3. Setting `vertical-align` removes the whitespace that appears under `img`
 *    elements when they are dropped into a page as-is. Safer alternative to
 *    using `display: block;`.
 */

img {
  max-width: 100%; /* [1] */
  font-style: italic; /* [2] */
  vertical-align: middle; /* [3] */
}

/**
 * 1. Google Maps breaks if `max-width: 100%` acts upon it; use their selector
 *    to remove the effects.
 * 2. If a `width` and/or `height` attribute have been explicitly defined, let’s
 *    not make the image fluid.
 */
.gm-style img, /* [1] */
img[width], /* [2] */
img[height] {  /* [2] */
    max-width: none;
}
