//
// FORMS
//
// Use these styles & variables to quickly get your forms styled
//
// Or dont ...
//

$input-bg-color: #fff!default;
$input-border-width: rem-calc(1)!default;
$input-border-style: solid!default;
$input-border-color: #333!default;
$input-font-color: #333!default;
$input-font-size: 24px!default;
$input-margin-bottom: 10px!default;
$input-padding: 10px!default;
$input-font-family: sans-serif!default;
$input-placeholder-color: #d0d2d3;
$input-submit-background-color: #333!default;
$input-submit-color: #fff!default;
$input-submit-hover-background-color: lighten($input-submit-background-color, 5%)!default;

// Placeholder Text
::placeholder {
  color: $input-placeholder-color;
  transition: color .125s ease-out;
}
// Hide Placeholder text on active
input:focus::placeholder {
  color: rgba($input-placeholder-color, 0);
}

input,
textarea,
select {
  @include reset-input;
  @include font-smoothing;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea {
  display: block;
  width: 100%;
  margin: 0;
  margin-bottom: $input-margin-bottom;
  padding: $input-padding;
  border: $input-border-width $input-border-style $input-border-color;
  border-radius: 0;
  color: $input-font-color;
  background-color: $input-bg-color;
  font-size: $input-font-size;
  font-family: $input-font-family;

  // Basic focus styles
  &:focus {
    // background: $input-focus-bg-color;
    // border-color: $input-focus-border-color;
    // outline: none;
  }
  // Disbaled Styles
  &:disabled {
    // background-color: $input-disabled-bg;
    // cursor: $input-disabled-cursor;
  }
}

//
// Submit
//
input[type="submit"] {
  display: block;
  width: 100%;
  margin: 0;
  margin-bottom: $input-margin-bottom;
  padding: $input-padding;
  border: 0 none transparent;
  color: $input-submit-color;
  background-color: $input-submit-background-color;
  font-size: $input-font-size;
  font-family: $input-font-family;

  &:hover {
    background: $input-submit-hover-background-color;
  }
}

//
// Radio & Checkbox
//

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
}

// Align Radio & Checkbox Lables
input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
  margin-right: $input-margin-bottom / 2;
  margin-left: $input-margin-bottom / 2;
}

//
// Select input
//

select {
  display: block;
  width: 100%;
  padding: $input-padding;
  border: $input-border-width $input-border-style $input-border-color;
  color: $input-font-color;
  background-color: $input-bg-color;
}
