/**
 * grunt-svgstore is generating an icon stack
 * We apply default styles & dimensions to our icon classes
 */

.icon {
  // height: rem-calc( 32 );
  // width: rem-calc( 32 );
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
}

@mixin icon-size( $width, $height ) {
  width: rem-calc( $width );
  height: rem-calc( $height );
}

/**
 * Default Dimensions
 */

.icon--example {
  @include icon-size( 40, 22 );
}