//
// Brand Colors
//
$brand-red: #e2231a;
$brand-red-h: lighten($brand-red, 10%);
$brand-red-s: darken($brand-red, 10%);
$brand-dijon: #ad852d;
$brand-dijon-h: lighten($brand-dijon, 15%);
$brand-crimini: #ccc2ba;

//
// Generic Colors
//

$yellow: #ffdc15;
$off-white: #fafafa;
$white: #fff;
$smoke: #f1f1f2;
$light-grey: #dcddde;
$grey: #58595b;
$dark-grey: #444;
$black: #000;
$tar: #1B1917;
$charcoal: #231f20;

// UI Specific Colors
//
// It can be descriptive and flexible to name variables
// for to their specific ui uses.
// In the rare event that a client wants a new button
// color, it's much simpler to change $button-color than
// find all uses of $red for buttons.
$brand-primary: $brand-red;
$brand-secondary: $grey;
$body-font-color: $tar;
$body-background-color: $white;
$heading-font-color: $tar;
$button-font-color: $white;
$button-background-color: $brand-red;
$button-background-color-h: $brand-red-h;
$button-background-color-s: $brand-red-s;
$button-secondary-background-color: $brand-secondary;

$link-default: $brand-dijon;
$link-default-h: $brand-dijon-h;

$success-color: $tar;
$error-color: #c24f4f;
