//
// MIXINS
//
// Sick all of your handy mixins in here.
// We have several oft-used mixins to get you started
//

//
// @include hardwareAccelleration()
//
// Enable Webkit Hardware Accelleration
// Improve performance and fixes a lot of
// font jiggles & quirks with animation.
//

@mixin hardwareAccelleration(){
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000;
}

//
// @include font-smoothing()
//
// This should be applied to the <body> tag and <inputs>.
// You can also set font-smoothing(off) for some elements;
//

@mixin font-smoothing($value: on) {
  @if $value == on {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

//
// @incldue clearfix()
//
// Clears floated child elements inside of container
// http://cssmojo.com/latest_new_clearfix_so_far/
//

@mixin clearfix {
  &:after {
    content:"";
    display:table;
    clear:both;
  }
}

//
// Heading Mixin
// This allows us to use heading classes in our hand-written code
// but allow content authors to use raw heading tags in their
// rich text fields
//

@mixin headings($headings: ('h1', 'h2', 'h3', 'h4', 'h5', 'h6') ) {
  $_selector: ();
  @each $heading in $headings {
    $_selector: append($_selector, unquote('.#{$heading}, #{$rich-text} #{$heading}'), 'comma');
  }

  #{$_selector}{
    @content;
  }
}

//
// Padding
//

@mixin pad-h($padding){
  padding-left: $padding;
  padding-right: $padding;
}

@mixin pad-v($padding){
  padding-top: $padding;
  padding-bottom: $padding;
}

//
// Margin
//

@mixin margin-h($margin){
  margin-left: $margin;
  margin-right: $margin;
}

@mixin margin-v($margin){
  margin-top: $margin;
  margin-bottom: $margin;
}

//
// Hide
//

@mixin hide-a11y {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
