//
// Strings
//
$images: '../images'; // Example { background-image: url( #{$images}/background.jpg ); }
$left-quote-arrows: '\00AB';
$right-quote-arrows: '\00BB';

//
// Selectors
//
$nav-active: 'html.js-nav';
$rich-text: '.rich-text';

//
// Numbers
//

// We can do math relative to these z-indexes
// Want an item to be always be above your nav?
// .above-nav { z-index: $z-index-mobile-nav + 1; }
$z-index-mobile-nav: 30;

$margin-p: 1em;
